* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #1a4c44;
    --cor2: #76d1b0;
    --fundo: #fbf8f5;
}

.logo {
    height: 55px;
}

header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: var(--fundo);
}

nav>a {
    text-decoration: none;
    color: black;
}

nav>a>button {
    height: 30px;
    padding: 0px 15px;
    border-radius: 5px;
    transition: .4s;
}

#btndashboard {
    background-color: white;
    border: 1px solid;
}

#btndashboard:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}

#btnlogin {
    background-color: transparent;
    border: 1px solid;
}

#btnlogin:hover {
    background-color: var(--cor1);
    color: white;
    border: 1px solid var(--cor1);
}

#btnnovaconta {
    background-color: var(--cor2);
    border: 1px solid;
}

#btnnovaconta:hover {
    background-color: var(--cor1);
    color: white;
    border: 1px solid var(--cor1);
}

/*todo  INDEX.HTML*/

.divmain {
    text-align: center;
    height: 79.5vh;
    background-image: linear-gradient(to right, #194b42, #5fa38a);
}

.divcaixas {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 15px 0px 15px;
}

.divgrupo {
    display: flex;
    margin: 15px;
    gap: 10px;
    width: 95vw;
}

.divsobre {
    width: 28%;
    margin: auto;
    display: flex;
    background-color: var(--fundo);
    border-radius: 5px;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 1.2em;
}

footer {
    padding-top: 27px;
    height: 93px;
    background-color: var(--fundo);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
}

.fa-github {
    margin: 7px 0px;
    font-size: 1em;
    color: black;
}

/*todo  LOGIN.HTML*/

.divmain {
    display: flex;
    text-align: center;
    height: 79.5vh;
    background-image: linear-gradient(to right, #194b42, #5fa38a);
    justify-content: center;
    align-items: center;
}

.divlogin {
    background-color: var(--fundo);
    padding: 0px 50px 40px 50px;
    border-radius: 5px;
}

.divlogin > h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
    padding-top: 40px;
}

#esqueci {
    background-color: var(--cor1);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    padding: 3px;
    margin-bottom: 3px;
}

#entrar {
    background-color: var(--cor2);
    border: 1px solid;
    border-radius: 5px;
    width: 90%;
    padding: 3px;
}